<div class="container-choose">
  <h2>Selecionado</h2>
  <div class="cosplayer-item">
    <div class="cosplayer-info" [id]="'cosplayer-' + cosplayer?.id">
      <img
        [src]="cosplayer?.avatarUrl"
        [alt]="'Avatar' + cosplayer?.name"
        class="cosplayer-item-img"
      />
      <strong> {{ cosplayer?.name }} </strong>
    </div>
    <ul class="cosplay-list">
      <li *ngFor="let cosplay of cosplayer?.cosplays">
        <img
          class="cosplay-image"
          [src]="cosplay.imageUrl"
          [alt]="'Cosplay ' + cosplay.name"
        />
        <span>
          {{ cosplay.name }} | {{ cosplay.price | currency: 'BRL' }}
        </span>
      </li>
    </ul>
  </div>

  <footer class="confirmation">
    <button class="btn btn-confirm">Contratar</button>
  </footer>
</div>
