.container-choose {
  background-image: linear-gradient(45deg, red, yellow, orange);
  border-radius: 32px;
  padding: 32px 16px 16px;
  margin-left: 16px;
  width: 320px;
}

footer.confirmation {
  display: flex;
  justify-content: center;
  padding: 12px;

  .btn-confirm {
    background: greenyellow;
    height: 48px;
    border-radius: 10px;
    border: 0;
    outline: none;
    padding: 0 16px;
    color: #321e38;
    width: 100%;
    font-weight: 500;
    transition: background-color 0.2s;
    font-size: 24px;

    &:hover {
      background: darken($color: greenyellow, $amount: 10);
    }
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  // color: #e3e3e3;
  color: #28262e;
  padding: 10px;
  border-left: 5px solid #ff9000;
  margin-bottom: 16px;
}

.cosplayer-item {
  background-image: linear-gradient(45deg, red, yellow, orange);
}

ul li img {
  width: 64px;
}

.m-0 {
  margin: 0 !important;
}
.p-0 {
  padding: 0 !important;
}

.cosplayer-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  max-width: 250px;
}

.cosplayer-item {
  background: radial-gradient(#321e38, transparent);
  border-radius: 16px;
  padding: 16px;
  outline: none;
}

.cosplayer-item strong {
  font-size: 24px;
  font-weight: bold;
  margin-left: 16px;
  color: #e3e3e3;
}

img.cosplayer-item-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.cosplayer-item ul.cosplay-list {
  border-top: 2px solid #ff9000;
  padding-top: 8px;
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s background-color;
    background-color: darken($color: #e3e3e3, $amount: 10);
    &.select {
      background-color: greenyellow;
    }
  }
  li:hover {
    background-color: greenyellow;
  }
  li + li {
    margin-top: 4px;
  }
}

.cosplayer-item ul.cosplay-list img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 4px;
}
