.container-choose {
  background-image: linear-gradient(45deg, red, yellow, orange);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;

  margin-left: 16px;
  width: 320px;
}

.title {
  color: #28262e;
}

.cosplayer-item {
  background-image: linear-gradient(45deg, red, yellow, orange);
  outline: none;
}

img.cosplayer-item-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.cosplayer-item ul.cosplay-list {
  border-top: 2px solid #ff9000;
  padding-top: 8px;
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s background-color;
    background-color: #e3e3e3;
    &.select {
      background-color: greenyellow;
    }
    &:hover {
      background-color: greenyellow;
    }
    & + li {
      margin-top: 4px;
    }
  }
}

.cosplayer-item ul.cosplay-list img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

footer.confirmation {
  display: flex;
  justify-content: center;
  padding: 12px;

  .btn-confirm {
    background: greenyellow;
    height: 48px;
    border-radius: 10px;
    border: 0;
    outline: none;
    padding: 0 16px;
    color: #321e38;
    width: 100%;
    font-weight: 500;
    transition: background-color 0.2s;
    font-size: 24px;

    &:hover {
      background: darken($color: greenyellow, $amount: 10);
    }
  }
}

.cosplayer-avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  max-width: 250px;
}
