<main class="form-container">
  <form
    class="form-login"
    autocomplete="off"
    [formGroup]="loginForm"
    (ngSubmit)="handleSubmitForm()"
  >
    <img
      class="logo-login"
      src="../../assets/cosplayers/yugioh/YamiYugi.png"
      alt="Logo Login"
    />

    <label>
      E-mail
      <input
        [formControlName]="'email'"
        type="email"
        placeholder="example@ngcosplayer.com"
      />
    </label>

    <label>
      Senha
      <input
        [formControlName]="'password'"
        type="password"
        placeholder="Sua senha ter 6 dígitos no mínimo"
      />
    </label>

    <div *ngIf="feedback" class="alert-invalid">
      {{ feedback }}
    </div>

    <button class="button-submit" type="submit">Entrar</button>

    <a [routerLink]="['/register']"> Crie uma conta agora </a>
  </form>
</main>
