<div class="container-fluid">
  <header class="container remove-text-decoration">
    <span id="welcome-user">
      Olá,
      <a>
        <strong>
          {{ username }}
        </strong>
      </a>
    </span>
    <nav class="navbar">
      <ul class="nav-list">
        <li>
          <a [routerLink]="['/cosplayers']"> Cosplayers </a>
        </li>
        <li>
          <a class="soon">
            Eventos <span class="badge badge-warning">Em breve</span>
          </a>
        </li>
      </ul>
    </nav>
    <button (click)="handleLogout()" class="btn btn-logout">Sair</button>
  </header>
</div>
