/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #3a393c;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer !important;
}

ul li {
  list-style: none !important;
}

img {
  max-width: 100px;
}

.remove-text-decoration {
  a {
    text-decoration: none !important;
  }
}

.container-fluid {
  width: 100vw;
  background: #28262e;
}

.container {
  padding: 32px 0;
  width: 90%;
  // max-width: 1120px;
  max-width: 1420px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding: 24px;
  }
}
