/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #3a393c;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  max-width: 100px;
}
