.button-submit {
  background: #ff9000;
  height: 48px;
  border-radius: 10px;
  border: 0;
  outline: none;
  padding: 0 16px;
  color: #321e38;
  margin-top: 16px;
  width: 100%;
  font-weight: 500;
  transition: background-color 0.2;
  font-size: 24px;
  margin-bottom: 8px;

  &:hover {
    background: darken($color: #ff9000, $amount: 10);
  }
}

.form-login {
  width: 500px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 64px 32px;
  background-color: rgba(0, 0, 0, 0.1);

  label {
    display: block;
    width: 100%;
    border-radius: 16px;
    color: #f4ede8;

    margin-bottom: 16px;
    padding: 16px;
    background: #232129;
    &:focus-within {
      color: #ff9000;
    }
  }

  input {
    color: inherit;
    outline: none;
    border: 0;
    border-bottom: solid 1px;
    width: 100%;
    display: block;
    padding: 16px 0px;
    line-height: 1.4rem;
    font-size: 16px;
    background-color: transparent;

    &::placeholder {
      color: #666360;
      font-size: 12px;
    }

    &:focus {
      color: #f4ede8;
      border-color: #ff9000;
    }
  }

  a {
    color: #ff9000;
    margin-top: auto;
  }
}

.form-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-invalid {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.logo-login {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
  border-radius: 50%;
  border: 2px solid #ff9000;
}
